* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    display: inline-block;
    /*margin-left: 100px;
    margin-right: 400px;
    margin-top: 20px;*/
    position: absolute;
    top: 15px;
    left: 30px;
}

p {
    display: inline-block;
    margin-left: 30px;
    color: #fff;
    
}

.header-ref { 
    text-decoration: none;
    color: #fff; 
    padding: 10px;
}
.header-ref:hover {
    background-color: #1abc9c;
    border-radius: 5px;
 
}

nav {
    height: 75px;
    background-color: #343a40;
    position: fixed;
    width: 100%;
}
.sub-nav {
    position: absolute;
    top: 25px;
    right: 30px;
}
.hamburguesa {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
    padding: 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 5px;
}

.header {
    background-color: #1abc9c;
    padding-top: 180px;
    padding-bottom: 50px;
    text-align: center;
}

.img-perfil {
    width: 300px;
    padding-bottom: 20px;
}

.portfolio, .contact {
    background-color: #fff;
    padding-top: 130px;
    padding-bottom: 50px;
    color: #343a40;
    text-align: center;
}

.img-portfolio {
    display: inline-block;
    width: 300px;
    margin: 0 20px 20px 20px;
}
.img-portfolio img {
    width: 100%;
}

.linea {
    text-align: center;
    margin-bottom: 20px;
}

hr {
    border: 2px solid;
    width: 70px;
    display: inline-block;
}

.about {
    background-color: #1abc9c;
    padding-top: 130px;
    padding-bottom: 90px;
    text-align: center;
}

#about, #portfolio, #contact {
    text-align: center;
}

.p1, .p2 {
    width: 300px;
    display: inline-block;
    text-align: left;
    padding-right: 20px;
}

.p2 {
    vertical-align: top;
}

.download {
    background-color: #1abc9c;
    border: 2px solid #fff;
    padding: 25px 30px 25px 70px;
    margin-top: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 10px;
}
.download img {
    width: 50px;
    position: absolute;
    left: 560px;
    top: 1955px;
}
.download:hover {
    background-color: #fff;
    color: #343a40;
    cursor: pointer;
}

form {
    width: 70%;
    display: inline-block;
    text-align: center;
    padding-bottom: 40px;
}
label {
    display: inline-block;
}
#message, #phone, #email, #name  {
    padding: 30px 10px;
    width: 600px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #AFAFAF;
    color: #212529;
    outline: none;
}


#send {
    margin-top: 20px;
    padding: 25px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    border-radius: 5px;
    padding: 10px;
}
#send:hover {
    cursor: pointer;
    background-color: #159a80;
    border-color: #148f77;
}
.btn-send {
    position: relative;
    right: 270px;
}

.sub-footer-1 {
    background-color: #2C3E50;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.information{
    display: inline-block;
    width: 33%;
    height: 250px;
    vertical-align: middle;
}

h3 {
    font-size: 25px;
    padding: 50px 0;
}

.info {
    font-size: 14px;
}

#icons {
    border-radius: 50px;
    border: 1px solid #fff;
    width: 30px;
    margin: 0px 5px;
    padding: 10px;
}
.social-icons:hover {
    zoom: 1.2;
}

#icons:hover {
    background-color: #fff;
}

.sub-footer-2 {
    background-color: #1A252F;
    text-align: center;
    height: 50px;
}
.copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 18px 0;
}

/* ==== MEDIA QUERY ==== */

@media (max-width: 600px) {
    h1 {
        font-size: 18px;
        padding-top: 10px;
    }
    .sub-nav {
        display: none;
    }
    .download img {
        width: 50px;
        position: absolute;
        left: 170px;
        top: 3030px;
    }
    .btn-send {
        position: relative;
        right: 160px;
    }
    .information{
        display: inline;
    }
    h3 {
        font-size: 18px;
        padding: 20px;
    }
    .info {
        font-size: 14px;
        padding-bottom: 25px;
    }


}

@media (min-width: 601px){
    .hamburguesa {
        display: none;
    }
}







